/* **************** GENERAL STYLING **************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary-red: hsl(1, 90%, 64%);
    --color-primary-blue: hsl(219, 85%, 26%);

    --color-neutral-white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);

    --transition: all 400ms;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #fff;
    font-size: 1.2rem;
}

.container {
    margin: 0 auto;
    inline-size: 70%;
}


/* **************** HEADER STYLING **************** */


/* **************** MAIN STYLING **************** */


/* **************** FOOTER **************** */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* ******************************* MEDIA QUERIES ***************************************** */
/* ************************* LARGE SCREEN ************************************* */
@media screen and(min-width: 1440px) {}

@media screen and(max-width: 375px) {}