/* ******************************** GENERAL STYLING ***************************** */
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

:root {
    --container-width-lg: 98%; 
    --container-width-md: 96%; 
    --container-width-sm: 90%; 

    --color-primary: #0f0f0f;
    --color-text: #f1f1f1;
    --color-text-fade: #555;

    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-primary);
    color: #fff;
    line-height: 1.7;
    font-family: 'Roboto', 'Arial', sans-serif;
}

section {
    padding-block: 3rem;
}

/* ******************************** HEADER STYLING ***************************** */
header {
    background: red;
    inline-size: 100%;
    padding-block: .7rem;
    color: var(--color-text);
    block-size: 5rem;
    border-block-end: 1px solid var(--color-text);
    z-index: 99;
    position: fixed;
}

.container {
    inline-size: var(--container-width-lg);  
    margin-inline: auto; 
}

.header__container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: hidden;
}

.header__container span {
    background: var(--color-text);
    inline-size: 100%;
    block-size: .1px;
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-start: 2.5rem;
}

.header__top, .header__bottom {
    align-items: center;
}


/* ******************************** FOOTER STYLING ***************************** */
footer {
    inline-size: 100%;
    background: yellow;
    padding: 1.5rem 5rem;
    border-block-start: .1rem solid var(--color-text);
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    inline-size: 100%;
    flex-wrap: wrap;
}

