/* ******************************** GENERAL STYLING ***************************** */
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

:root {
    --container-width-lg: 98%; 
    --container-width-md: 96%; 
    --container-width-sm: 90%; 

    --color-primary: #0f0f0f;
    --color-text: #f1f1f1;
    --color-text-fade: #555;

    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-primary);
    color: #fff;
    line-height: 1.7;
    font-family: 'Roboto', 'Arial', sans-serif;
}

a {
    inline-size: fit-content;
    padding: .5rem 1rem;
    font-size: .9rem;
    background: #292828;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    gap: .6rem;
}

a:hover {
    background: var(--color-text-fade);
}

section {
    padding-block: 3rem;
}

/* ******************************** HEADER STYLING ***************************** */
header {
    background: red;
    inline-size: 100%;
    padding-block: .7rem;
    color: var(--color-text);
    block-size: 5rem;
    border-block-end: 1px solid var(--color-text);
    z-index: 99;
    position: fixed;
}

.container {
    inline-size: var(--container-width-lg);  
    margin-inline: auto; 
}

.header__container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: hidden;
}

.header__container span {
    background: var(--color-text);
    inline-size: 100%;
    block-size: .1px;
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-start: 2.5rem;
}

.header__top, .header__bottom {
    align-items: center;
}


/* ******************************** FOOTER STYLING ***************************** */
footer {
    inline-size: 100%;
    padding: 1.5rem 2rem;
    z-index: 99999999;
    box-shadow: 0 0 1rem rgba(30, 27, 27, 0.1);
    position: fixed;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    background: var(--color-primary);
}

footer.sticky {
    transform: translateY(0);
    inset-block-end: 0;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    gap: 2rem;
    font-size: 1.4rem;
    inline-size: 100%;
    flex-wrap: wrap;
}

/* ******************************** MEDIA QUERIES ***************************** */
/* ******************** MOBILE ******************** */
@media screen and (max-width: 600px) {
    a {
        inline-size: 100%;
    }
}

