/* ******************************** GENERAL STYLING ***************************** */
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

:root {
    --container-width-lg: 96%; 
    --container-width-md: 96%; 
    --container-width-sm: 90%; 

    --color-primary: #0f0f0f;
    --color-text: #f1f1f1;
    --color-text-fade: #555;

    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-primary);
    color: #fff;
    line-height: 1.7;
    font-family: 'Roboto', 'Arial', sans-serif;
}

/* ******************************** HEADER STYLING ***************************** */
header {
    background: red;
    inline-size: 100%;
    padding: .7rem 1rem;
    color: var(--color-text);
    block-size: 5rem;
    border-block-end: 1px solid var(--color-text);
    z-index: 99;
}

.container {
    inline-size: var(--container-width-lg);   
}

.header__container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: hidden;
}

.header_top, .header_bottom {
    align-items: center;
}
