/* ******************************* GENERAL STYLING ******************************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-orange: hsl(26, 100%, 55%);
    --color-pale-orange: hsl(25, 100%, 94%);

    /* Neutral colors */
    --color-heading: hsl(220, 13%, 13%);
    --color-primary: hsl(219, 9%, 45%);
    --color-secondary: hsl(220, 14%, 75%);
    --color-tertiary: hsl(223, 64%, 98%);
    --color-bg: hsl(0, 0%, 100%);
    --color-lightbox-bg: hsl(0, 0%, 0%);

    --transition: all 400ms ease;
}


body {
    font-size: 16px;
    line-height: 1.2;
    font-family: "Kumbh Sans", sans-serif;
}


.avatar {
    inline-size: 35px;
    cursor: pointer;
    transition: var(--transition);
}

.avatar:hover {
    border: 2px solid var(--color-orange);
    border-radius: 50%;
}

.container {
    background: var(--color-bg);
    margin: 5rem auto;
    inline-size: 90%;
    box-shadow: 0 0 .3rem var(--color-lightbox-bg);
    padding-inline-start: 6rem;
    padding-inline-end: 3rem;
    padding-block-end: 3rem;
    block-size: auto;
}


/* =================== NAVIGATION STYLING =================== */
nav {
    inline-size: 96%;
    display: flex;
    padding-block-start: 1rem;
    block-size: 4rem;
}

.nav_container {
    display: flex;
    inline-size: 100%;
    block-size: 100%;
}

.logo {
    font-size: 2rem;
    color: var(--color-heading);
    font-weight: 700;
    margin-inline-end: 4rem;
}

.nav_list {
    display: flex;
    gap: 1.5rem;
    margin-inline-end: auto;
    justify-content: center;
    align-items: center;
}

.nav_list li a {
    cursor: pointer;
    color: var(--color-primary);
    transition: var(--transition);
    position: relative;
}

.nav_list a:hover::after {
    content: "";
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: -2rem;
    inline-size: 100%;
    block-size: 1px;
    background: var(--color-orange);
}

.nav_menu {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.cart {
    cursor: pointer;
    transition: var(--transition);
}

.menu_btns {
    inline-size: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 1rem;
    display: none;
}

.menu_btns img {
    inline-size: 20%;
}

/* .cart:hover {} */


/* =================== BODY STYLING =================== */



/* =================== POPUP STYLING =================== */


/* =================== FOOTER STYLING =================== */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* ============================== MEDIA QUERIES ============================== */
/* =================== TABLETS =================== */
@media screen and (max-width: 1024px) {
    .container {
        inline-size: 96%;
    }
}

/* =================== PHONES =================== */
@media screen and (max-width: 764px) {
    .container {
        inline-size: 100%;
        position: relative;
        margin: 0;
        block-size: 5rem;
        padding-inline-start: 3rem;
        overflow-y: hidden;
        box-shadow: none;
        padding-inline: 3rem;
        padding-block-end: 0;
    }

    a.logo {
        margin-inline-end: auto;
    }

    nav {
        inline-size: 100%;
    }

    .nav_list.active {
        position: absolute;
        inset-inline-start: 0;
        block-size: 100vh;
        background: var(--color-bg);
        display: flex;
        flex-direction: column;
        box-shadow: 0 1rem 3px rgba(0, 0, 0, 1);
        inline-size: 50%;
        padding-block-start: 0;
        align-items: start;
        padding-inline-start: 2rem;
    }

    .nav_list li a {
        color: var(--color-lightbox-bg);
        font-weight: 700;
        inset-block-start: -15rem;
    }

    .menu_btns {
        display: block;
        position: absolute;
        inset-inline-start: 1rem;
        align-self: center;
    }

    .menu_btns img {
        inline-size: 40%;
    }

    #menuClose {
        display: none;
    }

    .nav_menu {
        gap: 1rem;
    }
}