* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

:root {
    --color-primary: hsl(5, 85%, 63%);
    --color-primary-variant: hsl(35, 77%, 62%);
    --color-secondary: hsl(236, 13%, 42%);
    --color-secondary: hsl(233, 8%, 79%);
    --color-white: hsl(36, 100%, 99%);
    --color-neutral: hsl(240, 100%, 5%);

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-lg: 90%;

    --transition: all 400ms;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-white);
    font-family: "Inter", sans-serif;
}

p {
    font-size: 15px;
}

a {
    color: hsl(228, 45%, 44%);
}

/* a:hover {} */

.container {
    margin: 0 auto;
    inline-size: var(--container-width-lg);
}

.btn {
    background: var(--color-primary);
    inline-size: max-content;
    background-origin: none;
    padding-block: .87rem;
    padding-inline: 1.3rem;
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-white);
    letter-spacing: 2px;
    font-weight: 400;
}

.btn:hover {
    color: var(--color-neutral);
}

/* *********** HEADER *********** */
header {
    padding-block-start: 5rem;
}

.header_container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo {
    margin-inline-end: auto;
    font-weight: 800;
    font-size: 1.7rem;
    display: flex;
    text-align: center;
}

.nav-items {
    display: flex;
    gap: 3rem;
    margin-inline-end: 10rem;
    text-align: center;
    padding-block-start: 3rem;
    color: hsl(228, 45%, 44%);
    cursor: pointer;
    transition: var(--transition);
}

.nav-items li a:hover {
    color: var(--color-primary);
}

/* .nav-items {} */

/* *********** FOOTER *********** */
.attribution {
    font-size: 16px;
    text-align: center;
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 50%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}