/* ======================= GENERAL STYLING =======================  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: hsl(234, 29%, 20%);
    --heading-color: hsl(235, 18%, 26%);
    --primary-color: hsl(231, 7%, 60%);
    --main-bg: hsl(0, 0%, 100%);
    --primary-bg: hsl(4, 100%, 67%);
}

body {
    line-height: 1.2rem;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 2rem;
    color: var(--heading-color);
}

p {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    background: var(--bg-color);
    padding: 1.3rem 3rem;
    inline-size: 100%;
}

/* ============================== MAIN ==============================  */
.success_msg {
    display: none;
}

/* ============================== FOOTER ==============================  */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* ============================== MEDIA QUERIES ==============================  */
/* ====================== MEDIUM SCREENS ======================  */
@media screen and (max-width: 1024px) {}

/* ====================== SMALL SCREENS ======================  */
@media screen and (max-width: 764px) {}